<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-navbar class="navbar"></app-navbar>

  <mat-drawer-container class="drawer">
    <mat-drawer #sidenav mode="side" [(opened)]="sideMenu" class="sidebar">
      <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-footer></app-footer>

</body>

</html>
