mat-toolbar {
  height: 5vh;
  background-image: url("../../../assets/images/blue-footer.jpg");
  background-size: cover;
  background-position: bottom;
}
.footer {
  width: 100%;
  text-align: center;
}

.text {
  color: aliceblue;
}
