mat-toolbar {
  height: 30px;
  background-image: url("../../../assets/images/blue-footer.jpg");
  background-size: cover;
  background-position: bottom;
}

.footer {
  width: 100%;
  text-align: center;
}

.text {
  color: aliceblue;
  font-weight: lighter;
}
