<h2 mat-dialog-title>Nowy post</h2>
<mat-dialog-content class="dialog">
  <form autocomplete="off" novalidate [formGroup]="postForm">

    <section class="title">
      <p>Tytuł posta:</p>
      <input type="text" formControlName ="title">
    </section>
      
    <section class="text">
      <p>Treść posta:</p>
      <textarea matInput formControlName ="text"></textarea>
    </section>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="save()">Publikuj post</button>
</mat-dialog-actions>