mat-toolbar {
  height: 20vh;
  padding: 0;
}
.row {
  width: 100%;
  margin: 0;
}
.col-1 {
  padding: 0;
}

.title {
  text-align: center;
  font-size: 40px;
}

.header {
  text-align: center;
}

.toogle-button {
  height: 20vh;
}
