mat-toolbar {
  height: 20vh;
  padding: 0;
  background-image: url("../../../assets/images/blue-navbar.jpg");
  background-size: cover;
  background-position: bottom;
}
.row {
  width: 100%;
  margin: 0;
  background-color: hsla(0, 0%, 0%, 20%);
}
.col-1 {
  padding: 0;
}

.title {
  text-align: center;
  font-size: 40px;
  color: aliceblue;
}

.header {
  text-align: center;
}

.toogle-button {
  height: 20vh;
  color: aliceblue;
  font-weight: bold;
}
