.content {
  padding: 1em;
}

table {
  width: 100%;
}

td {
  margin: 0.5em 1em;
}

.text {
  text-align: justify;
  max-width: 1200px;
  padding: 0.5em 1em;
}

.title {
  width: fit-content;
  padding: 0.5em 1em;
}
